<form action="/madlib">
    What is your name?
    <input type="text" name="name">
    Type in a color.
    <input type="text" name="color">
    Type in a noun
    <input type="text" name="noun">
    Type in an adjective
    <input type="text" name="adjective">
    <input type="submit">
</form>